<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Website_URL" value="https://members.brsgolf.com/dundalk/login"/>
    <add key="UserName" value="Enter-GUI-Number Here"/>
    <add key="Password" value="Enter-GUI-Password Here"/>
    <!--User must type in required date(Example - Sunday 2nd February)-->
    <add key="Xpath_Day_And_Date" value=".//h2[text()[contains(., 'Sunday 2nd February')]]//parent::div//parent::div//a"/>
    <!--User must type in required Time(Example - 12:)-->
    <add key="Xpath_Time_And_Booking" value="//th/div/div[contains(., '12:')]//parent::div//parent::th//parent::tr//td/a[contains(., 'Book Now')]"/>
    <add key="MemberName" value="Joe Bloggs"/>
  </appSettings>
</configuration>